In [3]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", 
                "Wilson High School", Wright High School"]

SyntaxError: invalid syntax (<ipython-input-3-dc81a59fb19e>, line 3)

In [4]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
               "Wilson High School", "Wright High School"]

In [5]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [6]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [18]:
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [19]:
# List of high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", 
                "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", 
                "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", 
               "Johnson High School", "Ford High School", "Thomas High School"]

In [5]:
# Add the Pandas dependency.
import pandas as pd

In [21]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [22]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [23]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [24]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [25]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School", 
               "Shelton High School", "Hernandez High School", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [26]:
# Initialize a new DataFrame
schools_df = pd.DataFrame()

In [27]:
# Add the list to a new DataFrame
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [28]:
# Add the school_name list as School Name
schools_df["School Name"] = school_name

# Print the DataFrame
schools_df

   School ID            School Name
0          0      Huang High School
1          1   Figueroa High School
2          2    Shelton High School
3          3  Hernandez High School
4          4    Griffin High School

In [29]:
# Add the type of school as type
schools_df["Type"] = type_of_school
# Print the DataFrame
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [30]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [32]:
schools_df = pd.DataFrame(high_schools_dict)
schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [33]:
# Get the column names
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [34]:
# Get the indices
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [35]:
# Get the values
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [2]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", 
               "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", 
               "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", 
               "Johnson High School", "Ford High School", "Thomas High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", 
                  "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"]

In [3]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'School Name':school_name, 'Type':type_of_school}

In [4]:
schools_df = pd.DataFrame(high_schools_dict)
schools_df

NameError: name 'pd' is not defined

In [1]:
# Determint if there are any missing values in the school data.
school_data_df.count()

NameError: name 'school_data_df' is not defined

In [7]:
# Add the Pandas dependency.
import pandas as pd

In [ ]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"